<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ></a>
  </div>
</nav>



<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll">
                    <i class="fa fa-play-circle"></i>  <span class="light">Ask.us</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="" class="btn btn-success navbar-btn btn-sm" data-toggle= "modal" data-target= '#new-question-modal'>Ask Question</a></form></li>
                    </li>
                    <li>
                      <% if logged_in? %>
                        <!-- <a class="page-scroll" href="<%= logout_path %>" class=""></a></form></li> -->
                      <% else %>

                        <!-- <a class="page-scroll" href="<%= new_session_path %>" class=""></a></form></li> -->
                      <% end %>
                  </li>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

        <!-- /.container -->
    </nav>


    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Welcome</h1>
                        <p class="intro-text">Ever wonder what people have to say?</p>
                        <a href="" class="btn btn-circle page-scroll">

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
