<hr>
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
        <!-- /.container -->
    </nav>

    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Ask us a question</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                      <div class = 'container'>
                        <% @questions.each do |q| %>
                          <div class="media">
                            <div class="media-left">
                          <a href="">
                            <img class="media-object" src="http://gravatar.com/avatar/424242" alt="...">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Q: <%= q.title %></h4>
                          <div><%= time_ago_in_words q.created_at %> ago </div>
                        <div> <%= q.body %></div>
                          <div>
                            <a href = '<%= question_path(q) %>' class = "btn btn-success btn-xs">View Answers</a>
                      </div>
                      </div>

                      <%end%>
                <hr>
                <hr>
</html>
